<!-- blog block starts ----------------------------------------------------->
<div class="blog-component">
    <div class="container-fluid u-mb-200">
        <div class="row js-pushpin-parent">
            <!-- left side -->
            <div class="col-md-9">
                {% for b in blog %}
                <article class="post">
                    <div class="row js-pushpin-parent">
                        <!-- Date and tag -->
                        <div class="col-sm-2">
                            <div class="post__info post-info js-pushpin-target">
                                <div class="post-info__date">
                                    <div class="post-info__day">{{ b.get_day }}</div>
                                    <div class="post-info__month-year">{{ b.get_month_str }}</div>
                                </div>
                                <div class="post-info__hr"></div>
                                <div class="post-info__tags">
                                    {% for tag in b.tags.all %}
                                            <a class="post-info__tag tag" href="{% url "blog" %}?tag_slug={{ tag.slug|urlencode }}">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 total-blog">
                            <header class="post__header post-header">
                                <h2 class="post-header__title"><a href="{{ b.get_absolute_url }}">{{ b.blog_title }}</a></h2>
                                <div class="p-thumbnail">
                                    {% if b.blog_banner %}
                                    <img src="{{ b.blog_banner.url }}" alt=""/>
                                    <div class="buttons">
                                        <a href="{{ b.get_absolute_url }}" class="fa fa-link"></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </header>
                            <div class="post__content post-content">
                                <p>{{ b.blog_description }}</p>
                                <div class="blog-footer">
                                    <ul>
                                        <li>{{ b.published_on|timesince }} ago</li>
                                        <li>
                                            <div class="read-more">
                                                <a href="{{ b.get_absolute_url }}">
                                                    <span class="txt">Read More</span>
                                                    <span class="round">
                                                        <i class="fa fa-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <!-- pagination -->
                <div class="pagination">
                    <span class="step-links">
                        {% if blog.has_previous %}
                            <a href="?page={{ blog.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ blog.number }} of {{ blog.paginator.num_pages }}
                        </span>
                        {% if blog.has_next %}
                            <a href="?page={{ blog.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- right side -->
            <div class="col-md-3">
                <aside class="blog-sidebar js-pushpin-target">
                    <div class="blog-search">
                        <form action="" method="GET" accept-charset="utf-8">
                            <div class="blog-search__btn">
                                <button type="submit" value="Search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <input type="text" name="q" placeholder="SEARCH" value="{{ request.Get.get }}"/>
                        </form>
                    </div>
                    <div class="tile blog-archive">
                        <div class="tile__title">Archive</div>
                        <ul class="blog-archive__years">
                            {% for y, months in archive %}
                                <li class="clearfix">{{ y.year }}
                                    <ul class="blog-archive__months">
                                        {% for m in months %}
                                            <li><a href="{% url "blog" %}?y_m={{ m|urlencode }}">{{ m|date:"F" }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tile blog-categories">
                        <div class="tile__title">Categories</div>
                        <div class="blog-tags">
                            {% for tag in tags %}
                                <a class="post-info__tag tag" href="{% url "blog" %}?tag_slug={{ tag.slug|urlencode }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- blog block ends ------------------------------------------------------->