<div class="col-md-12">
    <div class="row">
        <!-- Blog story header -->
        <div class="pa-header-title">
            <h3 class="pa-heading">Top Blog Post</h3>
        </div>
        <!-- Blog block starts -------------------------------------->
        <div class="inner-body">
            <div class="blog-wrapper">
                {% for blog in featured_blogs %}
                    {% for c in content %}
                        {% if c.related_to == blog %}
                            {% if c.is_main %}
                                <div class="col-md-6 single-post-blog">
                                    <div class="col-md-6">
                                        <img src="{{ c.image.url }}" class="img-responsive" alt="{{ c.image }}"/>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{ blog.blog_title|truncatewords:3 }}</h3>
                                        <p>{{ c.paragraph|truncatewords:50 }}</p>
                                    </div>
                                    <div class="col-md-12 text-center publish-date">
                                        <span><i class="fa-calendar fa"></i>{{ blog.published_on|timesince }} ago</span>
                                    </div>
                                    <div class="blog-post-overlay">
                                        <a href="{{ blog.get_absolute_url }}"><span>Read </span></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <!-- Blog block ends -------------------------------------->
    </div>
</div>
