<!-- The Modal -->
<div id="myModal" class="modal" role="dialog">
  <!-- Modal Content (The Image) -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src='' id="modal-img" height="100%" width="100%">
                <div id="caption"></div>
            </div>
        </div>
    </div>
</div>