 <!-- Service block starts -------------------------------------------------->
 <div class="col-md-12">
     <div class="row">
         <!-- What we do header -->
         <div class="pa-header-title">
             <h3 class="pa-heading-middle">What We Do</h3>
         </div>
         <div class="inner-body">
             <div class="row services">
                 <!-- first cube -->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <!-- front side -->
                     <div class="nb-service-front">
                         <div class="front-content">
                             <i class="fa fa-fort-awesome"></i>
                             <h3>Games Development</h3>
                         </div>
                     </div>
                     <!-- back side -->
                     <div class="nb-service-back">
                         <div class="back-content">
                             <h3>Games Development</h3>
                             <p> The dream of us is building awesome games inspired by true events and real phenomenon. We are committed to give an experience lasting long throughout your journey of life</p>
                         </div>
                     </div>
                 </div>
                 <!-- second cube -->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-laptop"></i>
                                 <h3>GaaS</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>GaaS</h3>
                                 <p>Game As A Service. We just don't build games. Through games we would like to offer services such as solving real world problem, helping cognitive impaired patients, artifical intelligence discoveries.</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- third cube-->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-flag-checkered"></i>
                                 <h3>Your Dream</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>Your Dream</h3>
                                 <p>We would like to help other indie developers. Are you stuck on finishing your games? We will provide a hand to finish your dream project either with terms or with contract</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- fouth cube-->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-graduation-cap"></i>
                                 <h3>Education</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>Education</h3>
                                 <p>Knowledge is Power. Games Development is not only a hard and huge task but a tricky subject to handle. We would like to provide tips and tricks and educate interested individuals with the right knowledge to succeed in their own journey.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Service block ends ---------------------------------------------------->