 <!-- Service block starts -------------------------------------------------->
 <div class="col-md-12">
     <div class="row">
         <!-- What we do header -->
         <div class="pa-header-title">
             <h3 class="pa-heading-middle">What We Do</h3>
         </div>
         <div class="inner-body">
             <div class="row services">
                 <!-- first cube -->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <!-- front side -->
                     <div class="nb-service-front">
                         <div class="front-content">
                             <i class="fa fa-fort-awesome"></i>
                             <h3>Games Development</h3>
                         </div>
                     </div>
                     <!-- back side -->
                     <div class="nb-service-back">
                         <div class="back-content">
                             <h3>Games Development</h3>
                             <p>{{ about.services_1 }}</p>
                         </div>
                     </div>
                 </div>
                 <!-- second cube -->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-laptop"></i>
                                 <h3>GaaS</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>GaaS</h3>
                                 <p>{{ about.services_2 }}</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- third cube-->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-flag-checkered"></i>
                                 <h3>Your Dream</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>Your Dream</h3>
                                 <p>{{ about.services_3 }}</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- fouth cube-->
                 <div class="col-md-3 col-sm-6 col-xs-12 nb-service-block">
                     <div class="nb-service-block-inner">
                         <!-- front side -->
                         <div class="nb-service-front">
                             <div class="front-content">
                                 <i class="fa fa-graduation-cap"></i>
                                 <h3>Education</h3>
                             </div>
                         </div>
                         <!-- back side -->
                         <div class="nb-service-back">
                             <div class="back-content">
                                 <h3>Education</h3>
                                 <p>{{ about.services_4 }}</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Service block ends ---------------------------------------------------->