{% load static %}
<!-- Side bar starts ------------------------------------------------------>
<div class="col-md-4" id="RightSide">
    <div class="sidebar-wrapper">
        <h3 class="topic-heading">We are Social</h3>
        <!-- social buttons -->
        <div class="social-div">
            <a href="{{ home_page.twitter_link }}" target="_blank" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
            <a href="{{ home_page.facebook_link }}" target="_blank" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
            <a href="{{ home_page.twitch_link }}" target="_blank" class="icon-button twitch"><i class="fa fa-twitch"></i><span></span></a>
            <a href="{{ home_page.youtube_link }}" target="_blank" class="icon-button youtube"><i class="fa fa-youtube-play"></i><span></span></a>
        </div>
        <h3 class="topic-heading">Upcoming Events</h3>
        <!-- upcoming box -->
        <div class="sidebar-upcoming">
            <div class="dtl12">
                <img class="img-responsive" src="{{ home_page.event_image.url }}" alt="{{ home_page.event_image }}">
                <div class="dtl">
                    <h3>{{ home_page.event_name }}</h3>
                    <p>{{ home_page.event_description }}</p>
                </div>
            </div>
            <!-- clock -->
            <div class="col-md-12 text-center" id="clock"></div>
            <div id="units" class="text-center">
                <span>Days</span>
                <span>Hours</span>
                <span>Minutes</span>
                <span>Seconds</span>
            </div>
        </div>
        <h3 class="topic-heading">Support</h3>
        <!-- support box-->
        <div class="support-div">
            <div class="text-center">
                <span>Support us to keep doing what we love</span>
            </div>
            <div class="patreon">
                <a href="{{ home_page.patreon_link }}" target="_blank" class="supp-a text-center">
                    <img src="{% static 'img/Become_a_patron_button.png' %}" alt="patron btn" class="img-responsive center-block">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Side bar ends -------------------------------------------------------->