<!-- Side bar starts ------------------------------------------------------>
                    <div class="col-md-4" id="RightSide">
                        <div class="sidebar-wrapper">
                            <h3 class="sidebar-heading">We are Social</h3>
                            <!-- social buttons -->
                            <div class="social-div">
                                <a href="#" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                                <a href="#" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
                                <a href="#" class="icon-button twitch"><i class="fa fa-twitch"></i><span></span></a>
                                <a href="#" class="icon-button youtube"><i class="fa fa-youtube-play"></i><span></span></a>
                            </div>
                            <hr class="pa-break" />
                            <h3 class="sidebar-heading">Upcoming Events</h3>
                            <!-- upcoming box -->
                            <div class="upcoming-div">
                                <img class="img-responsive center-block" src="assets/img/event.jpg" alt="upcoming" />
                                <div class="ovelay-screen"></div>
                                <div class="buttons-show">
                                    <a href="#" class="fa fa-send fa-overlay"></a>
                                </div>
                                <!-- clock -->
                                <div class="col-md-12 text-center" id="clock"></div>
                                <div id="units" class="text-center">
                                    <span>Days</span>
                                    <span>Hours</span>
                                    <span>Minutes</span>
                                    <span>Seconds</span>
                                </div>
                            </div>
                            <hr class="pa-break">
                            <h3 class="sidebar-heading">Support</h3>
                            <!-- support box-->
                            <div class="support-div">
                                <div class="text-center">
                                    <span>Support us to keep doing what we love</span>
                                </div>
                                <div class="patreon">
                                    <a href="#" class="supp-a text-center">
                                        <img src="assets/img/Become_a_patron_button.png" alt="" class="img-responsive center-block">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side bar ends -------------------------------------------------------->