<!-- Thanks block starts --------------------------------------------------->
<div class="col-md-12">
    <div class="row">
        <div class="inner-body">
            <div class="row">
                <!-- thanks component starts ------------------------------->
                <div class="thanks-component">
                    <!-- thanks message-->
                    <p class="thanks-p">
                        <span class="thanks-span" data-duration="1.1" data-delay=".23" data-blur="6">“We&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".28" data-blur="10">would&nbsp;</span>
                        <span class="thanks-span" data-duration="1.4" data-delay=".43" data-blur="3">like to&nbsp;</span>
                        <span class="thanks-span" data-duration="1.8" data-delay=".42" data-blur="5">express&nbsp;</span>
                        <span class="thanks-span" data-duration="2.0" data-delay=".56" data-blur="8">our&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".50" data-blur="3">sincere gratitude.&nbsp;</span>
                        <span class="thanks-span" data-duration="1.7" data-delay=".30" data-blur="4">Without&nbsp;</span>
                        <span class="thanks-span" data-duration="1.1" data-delay=".16" data-blur="2">your&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".50" data-blur="3">support&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".29" data-blur="7">we&nbsp;</span>
                        <span class="thanks-span" data-duration="1.4" data-delay=".26" data-blur="5">couldn't get&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".50" data-blur="3">this far,&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".11" data-blur="5">The list&nbsp;</span>
                        <span class="thanks-span" data-duration="1.9" data-delay=".19" data-blur="10" >is long,&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".36" data-blur="6" >naming a&nbsp;</span>
                        <span class="thanks-span" data-duration="1.8" data-delay=".17" data-blur="3" >few&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".30" data-blur="10" >here.&nbsp;</span>
                        <span class="thanks-span" data-duration="1.2" data-delay=".50" data-blur="3" >Thanks&nbsp;</span>
                        <span class="thanks-span" data-duration="1.5" data-delay=".50" data-blur="4" >for&nbsp;</span>
                        <span class="thanks-span" data-duration="1.8" data-delay=".19" data-blur="2" >not&nbsp;</span>
                        <span class="thanks-span" data-duration="1.8" data-delay=".50" data-blur="3" >giving up&nbsp;</span>
                        <span class="thanks-span" data-duration="1.3" data-delay=".18" data-blur="4" >on us."&nbsp;</span>
                    </p>
                    <cite>PandorAstrum</cite>
                    <!-- name list -->
                    <div class="thanks-list">
                        <div class="name-separetor">
                            {% for t in ty %}
                                <span class="thanks-name">*{{ t.name_to_add }}*</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- thanks component ends --------------------------------->
            </div>
        </div>
    </div>
</div>
<!-- Thanks block ends ----------------------------------------------------->