{% extends "base.html" %}
{% load static %}

{% block head_title %}Blog | {{ block.super }}{% endblock head_title%}

{% block style %}{% endblock style %}

{% block extra %}{% endblock extra %}

{% block navbar %}
    <li class="sonar">
        <a href="{% url 'home' %}"><span><i class="fa fa-home"></i><strong>Home</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'games' %}"><span><i class="fa fa-gamepad"></i><strong>Games</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'portfolio' %}"><span><i class="fa fa-briefcase"></i><strong>Portfolio</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'blog' %}"  class="selected"><span><i class="fa fa-book"></i><strong>Blog</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'about' %}"><span><i class="fa fa-comments-o"></i><strong>About</strong></span></a>
    </li>
{% endblock navbar %}

{% block main %}

{% include "blocks/aurora.html" %}
    <!-- some gap -->
    <div class="row pa-gapes"></div>

    <div class="row pa-row">
    {% include 'blocks/blog_block.html' %}

    </div>


{% endblock main %}

{% block js_file %}
<script src="{% static 'js/blog.js'%}"></script>
{% endblock js_file %}

{% block pure_js %}{% endblock pure_js %}