{% extends "base.html" %}
{% load static %}
{% block head_title %}Portfolio | {{ block.super }}{% endblock head_title%}

{% block style %}
    /*1st portfolio picture*/
    .portfolio .p-el:nth-child(1) .p-el-bg:before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-image: url({% static "img/portfolio_w/portfolio1.png" %});
    }
    /*2nd portfolio picture*/
    .portfolio .p-el:nth-child(2) .p-el-bg:before {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        background-image: url({% static "img/portfolio_w/portfolio2.png" %});
    }
    /*3rd portfolio picture*/
    .portfolio .p-el:nth-child(3) .p-el-bg:before {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        background-image: url({% static "img/portfolio_w/portfolio3.png" %});
    }
    /*4th portfolio picture*/
    .portfolio .p-el:nth-child(4) .p-el-bg:before {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        background-image: url({% static "img/portfolio_w/portfolio4.png" %});
    }
    /*5th portfolio picture*/
    .portfolio .p-el:nth-child(5) .p-el-bg:before {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
        background-image: url({% static "img/portfolio_w/portfolio5.png" %});
    }
{% endblock style %}

{% block extra %}
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endblock extra %}
{% block extra_fb %}{% endblock extra_fb%}
{% block navbar %}
    <li class="sonar">
        <a href="{% url 'home' %}"><span><i class="fa fa-home"></i><strong>Home</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'games' %}"><span><i class="fa fa-gamepad"></i><strong>Games</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'portfolio' %}" class="selected"><span><i class="fa fa-briefcase"></i><strong>Portfolio</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'blog' %}"><span><i class="fa fa-book"></i><strong>Blog</strong></span></a>
    </li>
    <li class="sonar">
        <a href="{% url 'about' %}"><span><i class="fa fa-comments-o"></i><strong>About</strong></span></a>
    </li>
{% endblock navbar %}

{% block main %}

{% include "blocks/aurora.html" %}
    <!-- some gap -->
    <div class="row pa-gapes" id="portfolio-top"></div>


    {% include 'blocks/portfolio-block.html' %}


{% endblock main %}

{% block extra_modal %}{% endblock extra_modal %}

{% block js_file %}
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/portfolio.js' %}"></script>
{% endblock js_file %}

{% block pure_js %}
    // grid gallery init
    $("#first-content").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
    function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery-first' ) );
    });
    $("#second-content").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
    function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery-second' ) );
    });
    $("#third-content").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
    function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery-third' ) );
    });
    $("#forth-content").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
    function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery-forth' ) );
    });
    $("#fifth-content").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd',
    function() {
        new CBPGridGallery( document.getElementById( 'grid-gallery-fifth' ) );
    });
{% endblock pure_js %}